/* Main CSS */

body {
  background-color: lightblue;
}

/* Index CSS */

.jumbotronhome {
  background-image: url(media/homepagebackground.jpg);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;
}

.btn-outline-dark {
  font-weight: 700;
  border-width: 1px;
}

.card-body {
  text-align: center;
}

.card-title {
  margin-bottom: 0;
}

.containertophomepage {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.image-link {
  position: relative;
  display: inline-block;
}

.badge-primary-howdoiplay,
.badge-primary-carousel {
  background-color: rgb(52, 58, 64);
  color: white;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2vw;
  width: 100%;
  max-width: 55rem;
}


/* Navbar CSS */

#navbar-image {
  height: 40px;

}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: black;

}

/* Footer CSS */

#facebook-logo,
#x-logo,
#insta-logo {
  height: 40px;
  filter: invert(100%);
}

/* How to play CSS */

.jumbotronhowto {

  background-image: url(media/tradingbackground.jpeg);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;


}

/* Where to buy CSS */

.jumbotronwhereto {

  background-image: url(media/wheretobuycards.jpg);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;

}

/* Discussion CSS */

.jumbotrondiscussion {

  background-image: url(media/discussionbackground.png);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;

}

.media {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;

}

.mr-3 {
  width: 64px;
  height: 64px;

}

/* Sign in Css */

.jumbotronsignin {

  background-image: url(media/signinbackground.png);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;

}

.signin {

  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: 140px;

}

/* Cards CSS */

.jumbotroncards {
  background-image: url(media/cards.jpg);
  background-size: cover;
  color: rgb(52, 58, 64);
  font-weight: 900;
  text-align: center;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  padding: 100px 20px;
  margin-bottom: 0;

}

.cards-container {
  margin-top: 55px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

.sort-by-form{
  margin-top: 25px;
  margin-bottom: 70px;
  margin-right: 70px;

}

/* Card details CSS */

.card-details-img {
width: 300px;
height: auto;

}
